{% extends "base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static '/css/registration.css' %}">
{% endblock %}
{% block title %}
<title>shuttle</title>
{% endblock %}


{% block content %}
    <!------------------------ Main Container ------------------------->
    <div class="container d-flex justify-content-center align-items-center" style="margin-top: 100px; margin-bottom: 100px;">

    <!--------------------- Registration container -------------------->
        <div class="row border rounder-5 p-3 bg-white shadow box-area">

    <!------------------------- Left box ------------------------------>
            <div class="col-md-7 rounded-4 d-flex justify-content-center align-items-center flex-column left-box">
               <div class="featured-image mb-3">
                   <img src="{% static 'img/images.jpeg' %}" class="img-fluid" style="width: 400px;">
               </div>

            </div>
    <!------------------------- Right box ------------------------------>

            <div class="col-md-5">
                <form class="row align-items-center justify-content-center" action="post">
                    <div class="header-text mb-2">
                        <h1>Welcome to Shuttle</h1>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Email address">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Phone number">
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password">
                    </div>

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Confirm password">
                    </div>

                    <div class="input-group mb-2 d-flex justify-content-between">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="formCheck">
                            <label for="formCheck" class="form-check-label text-secondary mb-2"><small>Remember Me</small></label>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <button class="btn btn-lg btn-primary w-100 btn-register">Register</button>
                    </div>

                    <div class="input-group mb-3 d-flex justify-content-center align-items-center" style="width: 100%;">
                        <div class="row form-check p-1 d-flex justify-content-between" style="width: 100%;">
                            <a class="btn btn-lg btn-social-twitter" style="width: 31%; border-radius: 25px; border: 2px solid #333;"><i class="fa-brands fa-twitter"></i></a>
                            <a class="btn btn-lg btn-social-google" style="width: 31%; border-radius: 25px; border: 2px solid #333; margin-inline: 5px;"><i class="fa-brands fa-google"></i></a>
                            <a class="btn btn-lg btn-social-linkedin" style="width: 31%; border-radius: 25px; border: 2px solid #333;"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <small>Already have an account? <a href="#" class="sign">Sign in</a></small>
                    </div>
                </form>
            </div>

        </div>
    </div>

{% endblock %}